
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4>
                    <label id="desc" class="control-label"></label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <div class="panel panel-default">
                        <div class="panel-heading">Title</div>
                        <div class="panel-body">
                            <div class="col-lg-3">
                                <select id="sTitle" style="width:100%;" class="form-group-sm" onchange=""></select>
                            </div>
                          
                        </div>
                    </div>

                 
          
                    <div class="col-lg-12">

                        <table id="subTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        title
                                    </th>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        agentCode
                                    </th>
                                    <th>
                                        CompanyNameCh
                                    </th>

                                    <th>
                                        AssessmentId
                                    </th>
                                    <th>
                                        UserId
                                    </th>
                                    <th>
                                        Score
                                    </th>
                                    <th>
                                        Weighting
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

